.title {
  text-align: center;
  font-size: 22px;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}
.campoInformacao {
  text-align: center;
  font-size: 14px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: 100px;
  background-color: white;
  border-radius: 5px;
}

thead th {
  text-align: center;
}

tbody tr {
  text-align: center;
  font-size: 14px;
}
