<!-- Compiled and minified CSS -->

<app-cadastro-historico 
    (callParent)="receiveCallParent($event)" 
    [dataSource$]="retornValue"
>
</app-cadastro-historico>

<ng-container >
    <table class="table table-hover">
        <thead >
            <th scope="col">ID:</th>
            <th scope="col">Combustivel:</th>
            <th scope="col">Data:</th>
            <th scope="col">Preço:</th>
            <th scope="col">Ações</th>
        </thead>
        <tbody class="historicos" >
            <tr *ngFor="let historico of historicos | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
                };">
                <td>{{ historico.id }}</td>
                <td>{{ historico.combustivel }}</td>
                <td>{{ historico.data }}</td>
                <td>{{ historico.preco }}</td>
                <td>
                    <button class="btn btn-primary" 
                    (click)="getById(historico.id)">
                    Visualizar</button>
                    <button class="btn btn-danger" 
                        (click)="remove(historico.id)">
                    Deletar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <pagination-controls previousLabel="Prev" nextLabel="Next"
            (pageChange)="onTableDataChange($event)" >
        </pagination-controls>
    </div>
</ng-container>